:root {
  --text-color: #fff;
  --text-color-active: #ffe800;
  --text-color-good: #7bc549;
  --text-color-average: #e49a27;
  --text-color-poor: red;

  --background: #31353f;
  --outline-color: #31353f;

  --font:'Open Sans', 'Arial', sans-serif;
  --font-size: 18px;
  --font-size-smaller: 14px;
  --font-size-bigger: 20px;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('../fonts/OpenSans-ExtraBold.woff2') format('woff2');
}

.page {
  position: relative;
  min-height: 100%;
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  user-select: none;
  overflow: hidden;
}

.page-body {
  min-height: 100%;
  font-size: var(--font-size);
  font-family: Geometria, Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

canvas {
  outline: 2px dashed gray;
  outline-offset: -2px;
}

